.login-screen{
    display: flex;
    margin: 0.5rem;
    flex-wrap: wrap;
    flex-direction:inherit;
    justify-content:center;
    align-content: stretch;
    align-items: center;
   
}
.loginSystem {
    display: flex;
    border: 0.5rem solid blue;
    padding: 5.5rem;
    flex-direction: column;
    /* transform: translate(20.5rem, 0.7rem); */
}

.selec-Type-User {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 5px;
    flex-wrap: nowrap;


}

.radioButtons {
    height: 2em;
    width: 15em;
}

.login {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    column-gap: 10%;
}



