body {

  background-image: url("https://www.clalitmashlima.co.il/tm-content/uploads/2019/06/shutterstock_1578407605.jpg");
  background-repeat: no-repeat;
  background-size: 100%;


}

.App {
  background-color: rgba(245, 245, 500, 0.5);
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 120vh; */
  width: 100vw;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    width: 100px;
    height: 100px;
    padding: 15px;
  }
}